/*Estilo de aplicação*/
/*Criando variasveis*/
:root{
        /*Cores*/
--cor-primaria:#0044cc;
--cor-secundaria:#002266;
--cor-fundo:#f8f8ff;
--cor-texto:#333;
/*Espancamentos*/
--espaço-xxs: 4px;
--espaço-xs:8px;
--espaço-sm:12px;
--espaço-md:16px;
--espaço-lg:24px;
--espaço-xl:32px;
--espaço-xxl:48px;

}

    /*Eu quero mudar o componente html*/
Body{
    /*Fonte */
    font-family: Arial, Helvetica,sans-serif;
    /*Margem Externa*/
    margin: 0;
    /*Margem Interna*/
    padding: 0;
    /*Cor fundo*/
    background-color:var(--cor-fundo);
    /*Cor do texto*/
    color: var(--cor-texto);

}
/*Configuração do container*/
.container{
/*tamanho maximo*/
max-width:78%;
margin: 0 auto;
padding:var(--espaço-lg);

}
/*Cabeçalho*/
header{
background-color:var(--cor-primaria);
padding:var(--espaço-lg);
/*Alinhamento do texto*/
text-align: center;
color:#f8f8ff;
font-size: 24px;

}
/*Menu de navegação*/
nav{
background-color: var(--cor-secundaria);
padding: var(--espaço-sm);
text-align: center;

}
/*mudar apenas os links do menu*/
nav a{
color:#f8f8ff;
/*remover o traço embaixo do link*/
text-decoration:nome;
/*10px superior e inferior*/
/*20px direita e esquerda*/
padding: 10px 20px;
/*ele ocupa o espaço do texto e/ou a dimensão do componente*/
display: inline-block;
}
/*Configurar o hoover do link*/
nav a:hover{
background-color: var(--cor-primaria);

}
/*Configurar o main*/
main{
    padding: var(--espaço-lg);
    text-align: center;
}
/*rodape*/
foorter{
    background-color:var(--cor-primaria) ;
    color: #f8f8ff;
    text-align: center;
    padding: var(--espaço-sm);
    /*Fixar o conteudo a tela*/
    position: fixed;
    /*Fixar no final da pagina*/
    bottom: 0%;
    width: 100%;
}